.projects__section {
  background-color: var(--section);
  padding: 5rem 5rem 15rem 5rem;
}

.portfolio__heading {
  padding: 0 0 3rem 3rem;
  font-size: 5rem;
  color: var(--white);
}

.flex--wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.project__card {
  background-color: var(--card);
  width: 36rem;
  border-radius: 0.8rem;
  padding: 1.4rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img__container {
  height: 22rem;
}

.img__container > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project__img {
  border-radius: 8px;
}

.project__details {
  padding: 0 1.4rem;
  display: flex;
  justify-content: space-between;
}

.view-code,
.view-live {
  transition: all 0.2s;
  display: inline-block;
}

.view-code a,
.view-live a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--text);
}

.view-code:hover,
.view-live:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 63em) {
  .projects__section {
    padding: 5rem 5rem 11rem 5rem;
  }
}

@media screen and (max-width: 50.25em) {
  .projects__section {
    padding: 4rem 5rem 8rem 5rem;
  }

  .portfolio__heading {
    padding: 0 0 3rem 2rem;
    font-size: 4rem;
  }

  .flex--wrap {
    gap: 3.5rem;
  }

  .project__card {
    max-width: 30rem;
  }
}

@media screen and (max-width: 41.25em) {
  .projects__section {
    padding: 4rem 2rem 8rem 2rem;
  }

  .project__card {
    max-width: 28rem;
  }
}

@media screen and (max-width: 34.37em) {
  .projects__section {
    padding: 4rem 2rem 6rem 2rem;
  }
}

@media screen and (max-width: 25.62em) {
  .projects__section {
    padding: 3rem 1.8rem 5rem 1.8rem;
  }

  .portfolio__heading {
    padding: 0 0 2rem 2rem;
    font-size: 3rem;
  }

  .project__card {
    max-width: 26rem;
    font-size: 1.4rem;
  }
}
